table td {
    border : 1px solid gray;
} 
/*buscarAmbiente*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/**/
.me-select {
    padding: 9px 0;
    width: 45%;
    margin-right: 5%;
    border: none;
    border-bottom: 1px solid #ccc;
}
.container-selects{
    display: flex;
    justify-content: center;
    align-items: center;
}